<!DOCTYPE html>
<html>
  <head>
    <title>Simple Life, You Deserve It.</title>
    <meta charset="utf-8">
    <link href="/static/css/test/index.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="/static/js/lib/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/static/good/good.js"></script>
  </head>
  <body style="overflow-y: hidden">
    <canvas id="canvas" width="1000" height="1500">
    <audio id="bgm" autoplay="autoplay" loop="loop" preload="auto">
      <source src="static/bgm.mp3"></source>
    </audio>
    <label>浏览器不支持Canvas</label>
    </canvas>
    <div width="0px" height="0px" style="display: none">
      <img id="loading" src="static/life/loading.png"></img>
      <img id="p11" src="static/good/1.1.png"></img>
      <img id="p12" src="static/good/1.2.png"></img>
      <img id="p21" src="static/good/2.1.png"></img>
      <img id="p22" src="static/good/2.2.png"></img>
      <img id="p31" src="static/good/3.1.png"></img>
      <img id="p32" src="static/good/3.2.png"></img>
      <img id="p41" src="static/good/4.1.png"></img>
      <img id="p51" src="static/good/5.1.png"></img>
      <img id="p52" src="static/good/5.2.png"></img>
      <img id="p53" src="static/good/5.3.png"></img>
      <img id="p54" src="static/good/5.4.png"></img>
      <img id="p61" src="static/good/6.1.png"></img>
      <img id="p62" src="static/good/6.2.png"></img>
      <img id="p09" src="static/life/首页/箭头.png"></img>
    </div>
  </body>
</html>
