<!DOCTYPE html>
<html>
  <head>
    <title>你的酒量和谁更相像？</title>
    <meta charset="utf-8">
    <link href="/static/css/test/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/js/lib/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/static/js/myjs/index.js"></script>
  </head>
  <body>
    <canvas id="canvas1" width="1000" height="1200"><label>浏览器不支持Canvas</label></canvas>
    <img id="bottle"  src="" load="static/img/bottle.png"></img>
    <img id="bg"      src="" load="static/img/bg.png"></img>
    <img id="lgcup"   src="" load="static/img/dajiubei.png"></img>
    <img id="smcup"   src="" load="static/img/xiaojiubei.png"></img>
    <img id="test"    src="" load="static/img/bottle.png"></img>
    <img id="back"    src="" load="static/img/back_btn.png"></img>
    <img id="back_w"  src="" load="static/img/back.png"></img>
    <img id="arrow"   src="" load="static/img/arrow.png"></img>
    <img id="touch"   src="" load="static/img/touch.png"></img>
    <img id="touched" src="" load="static/img/touched.png"></img>
    <img id="load_logo"  src="static/img/load_logo.png"  load="static/img/load_logo.png"></img>
    <img id="load_title" src="static/img/load_title.png" load="static/img/load_title.png"></img>
    <img id="bal_t1"  src="" load="static/img/bal_text1.png"></img>
    <img id="bal_t2"  src="" load="static/img/bal_text2.png"></img>
    <img id="bal_t3"  src="" load="static/img/bal_text3.png"></img>
    <img id="bal_rst" src="" load="static/img/bal_rst.png"></img>
    <img id="wel_bg_black"  src="" load="static/img/wel_bg_black.png"></img>
    <img id="wel_bg_dim1"   src="" load="static/img/wel_bg1_dim.jpg"></img>
    <img id="wel_bg_clear1" src="" load="static/img/wel_bg1_clear.jpg"></img>
    <img id="wel_bg_dim2"   src="" load="static/img/wel_bg2_dim.jpg"></img>
    <img id="wel_bg_clear2" src="" load="static/img/wel_bg2_clear.jpg"></img>
    <img id="wel_bg_dim3"   src="" load="static/img/wel_bg3_dim.jpg"></img>
    <img id="wel_bg_clear3" src="" load="static/img/wel_bg3_clear.jpg"></img>
    <img id="wel_title1"    src="" load="static/img/wel_title1.png"></img>
    <img id="wel_title2"    src="" load="static/img/wel_title2.png"></img>
    <img id="ch_shadow"     src="" load="static/img/ch_shadow.png"></img>
    <img id="chi_1"   src="" load="static/img/ch1_i.jpg"></img>
    <img id="chi_2"   src="" load="static/img/ch2_i.jpg"></img>
    <img id="chi_3"   src="" load="static/img/ch3_i.jpg"></img>
    <img id="chi_4"   src="" load="static/img/ch4_i.jpg"></img>
    <img id="chi_5"   src="" load="static/img/ch5_i.jpg"></img>
    <img id="ch1_1"   src="" load="static/img/ch1_1.png"></img>
    <img id="ch1_2"   src="" load="static/img/ch1_2.png"></img>
    <img id="ch1_3"   src="" load="static/img/ch1_3.png"></img>
    <img id="ch1_4"   src="" load="static/img/ch1_4.png"></img>
    <img id="ch1_5"   src="" load="static/img/ch1_5.png"></img>
    <img id="ch2_1"   src="" load="static/img/ch2_1.png"></img>
    <img id="ch2_2"   src="" load="static/img/ch2_2.png"></img>
    <img id="ch2_3"   src="" load="static/img/ch2_3.png"></img>
    <img id="ch2_4"   src="" load="static/img/ch2_4.png"></img>
    <img id="ch2_5"   src="" load="static/img/ch2_5.png"></img>
    <img id="ch3_1"   src="" load="static/img/ch3_1.png"></img>
    <img id="ch3_2"   src="" load="static/img/ch3_2.png"></img>
    <img id="ch3_3"   src="" load="static/img/ch3_3.png"></img>
    <img id="ch3_4"   src="" load="static/img/ch3_4.png"></img>
    <img id="ch3_5"   src="" load="static/img/ch3_5.png"></img>
    <img id="ch4_1"   src="" load="static/img/ch4_1.png"></img>
    <img id="ch4_2"   src="" load="static/img/ch4_2.png"></img>
    <img id="ch4_3"   src="" load="static/img/ch4_3.png"></img>
    <img id="ch4_4"   src="" load="static/img/ch4_4.png"></img>
    <img id="ch4_5"   src="" load="static/img/ch4_5.png"></img>
    <p id="chpi_1">你最爱的酒精饮品是？</p>
    <p id="chpi_2">你眼中的最佳佐酒活动是？</p>
    <p id="chpi_3">你会怎么形容自己？</p>
    <p id="chpi_4">酒后你就变成了TA？</p>
    <p id="chpi_5">你最爱的佐酒小食是？</p>
    <p id="chp1_1">西式烈酒</p>
    <p id="chp1_2">轰趴聚会</p>
    <p id="chp1_3">我胖得很优雅</p>
    <p id="chp1_4">绿巨人</p>
    <p id="chp1_5">我只喝酒不吃菜</p>
    <p id="chp2_1">白酒</p>
    <p id="chp2_2">泡吧</p>
    <p id="chp2_3">我肌肉杠杠滴</p>
    <p id="chp2_4">唐僧</p>
    <p id="chp2_5">食肉</p>
    <p id="chp3_1">葡萄酒/香槟</p>
    <p id="chp3_2">麦霸K歌</p>
    <p id="chp3_3">我体型正正好</p>
    <p id="chp3_4">林妹妹</p>
    <p id="chp3_5">坚果</p>
    <p id="chp4_1">啤酒</p>
    <p id="chp4_2">低头吃饭</p>
    <p id="chp4_3">我已瘦成一道闪电</p>
    <p id="chp4_4">睡美人</p>
    <p id="chp4_5">米饭</p>
    <img id="ch_title" src="" load="static/img/ch_title.png"></img>
    <img id="ch_bg"    src="" load="static/img/ch_conner.png"></img>
    <img id="sha_i"    src="" load="static/img/share_index.png"></img>
    <img id="sha_b1"   src="" load="static/img/share_btn1.png"></img>
    <img id="sha_b2"   src="" load="static/img/share_btn2.png"></img>
    <img id="sha_gbg"  src="" load="static/img/guide_bg.png"></img>
    <img id="sha_g"    src="" load="static/img/guide.png"></img>
    <img id="rst_b"    src="" load="static/img/rst_b.png"></img>
    <p id="pscore1">1</p>
    <p id="pscore2">1</p>
    <p id="pscore3">1</p>
    <p id="pscore4">1</p>
    <p id="pscore5">1</p>
    <p id="prst11">一杯即倒型——都敏俊</p>
    <p id="prst21">一喝酒就会胡乱使用“超能力”，除了来自星星的都教授，就属你啦！</p>
    <p id="prst31">不想喝完倒头就睡那么怂，时刻保持清醒，那就牢记乐享美酒需理性哦！</p>
    <img id="rst1"   src="" load="static/img/rst_1.jpg"></img>
    <img id="rst_t1" src="" load="static/img/rst_t_1.png"></img>
    <p id="prst12">性格大变型——千颂伊</p>
    <p id="prst22">是的，你就是那位人前女神/男神范儿，一喝酒性格就发生180度大变的二千。</p>
    <p id="prst32">如此前后反差甚大的你，总叫身边的人大吃一惊，若不想变成朋友眼中的“怪人”“神经质”，那就要时刻牢记理性饮酒哦。</p>
    <img id="rst2"   src="" load="static/img/rst_2.jpg"></img>
    <img id="rst_t2" src="" load="static/img/rst_t_2.png"></img>
    <p id="prst13">点到即止型——弗兰西斯·安德伍德</p>
    <p id="prst23">没错，你就是《纸牌屋》里的那位从多数党领袖走向总统的弗兰西斯现实版！</p>
    <p id="prst33">从来不在外人面前喝醉，只有这样的自控力才能成大事哦~不妨在酒友们面前做个好榜样，以实际行动告诉大家乐享美酒需理性吧~</p>
    <img id="rst3"   src="" load="static/img/rst_3.jpg"></img>
    <img id="rst_t3" src="" load="static/img/rst_t_3.png"></img>
    <p id="prst14">千杯不醉型——段誉</p>
    <p id="prst24">你就像《天龙八部》中的段誉，自有巧招招架千杯酒，自然也就成为众人眼中面不改色心不跳的人咯~</p>
    <p id="prst34">这样的酒量的确不是谁都有，不过，在朋友面前得瑟的时候，切记莫贪杯哦！乐享美酒也需要理性，伤了身子可不好。</p>
    <img id="rst4"   src="" load="static/img/rst_4.jpg"></img>
    <img id="rst_t4" src="" load="static/img/rst_t_4.png"></img>
    <p id="psharei">你觉得这个酒量小测试准吗？你想看看好友们的酒量代言人是谁吗？</p>
    <p id="pshare1">世界卫生组织建议，每周至少留出1天不摄入酒精。</p>
    <p id="pshare2">孕妇忌酒才是最安全的。</p>
    <p id="pshare3">醉酒驾驶机动车1次就将被吊销驾照，并且5年内不得重新取得。</p>
    <p id="pshare4">暴饮对于青年最严重的危害是酒精中毒。</p>
    <p id="pshare5">事实上，酒精让你精力充沛是酒精导致的兴奋感给你带来的错觉。</p>
    <p id="pshare6">除了时间，不要相信任何“秘诀”能缓解酒精对人体产生的作用或加速酒精代谢的。</p>
    <p id="pshare7">饮酒后驾车人的反应时间比不饮酒要减慢 10%~30%。</p>
    <p id="pshare8">人体需要3~4小时才能完全消除2杯啤酒带来的影响。</p>
    <p id="pshare9">酒驾起因不在酒，而在于不负责任的借口！</p>
    <p id="pshare10">酒后驾车会使驾驶者的分析判断能力变低，更易发生危险。</p>
    <p id="pshare11">开车前无论喝多少酒都算是“酒驾”。</p>
    <p id="pshare12">人的大脑至25岁才发育完成，过早饮酒或过量饮酒会严重影响智力发育。</p>
    <p id="totalTimes">{{totalTimes}}</p>
    <p id="onlineUsers">{{onlineUsers}}</p>
  </body>
</html>
