<!DOCTYPE html>
<html>
  <head>
    <title>Pernod Ricard</title>
    <meta charset="utf-8">
    <link href="/static/css/test/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/myjs/index.js"></script>
  </head>
  <body>
    <img id="bottle" src="static/img/bottle.png"></img>
    <img id="bg" src="static/img/bg.png"></img>
    <img id="lgcup" src="static/img/dajiubei.png"></img>
    <img id="smcup" src="static/img/xiaojiubei.png"></img>
    <canvas id="canvas1"><label>浏览器不支持Canvas</label></canvas>
  </body>
</html>
