<!DOCTYPE html>
<html>
  <head>
    <title>Pernod Ricard</title>
    <meta charset="utf-8">
    <link href="/static/css/test/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/myjs/index.js"></script>
  </head>
  <body>
    <img id="bottle" src="static/img/bottle.png"></img>
    <img id="bg" src="static/img/bg.png"></img>
    <img id="lgcup" src="static/img/dajiubei.png"></img>
    <img id="smcup" src="static/img/xiaojiubei.png"></img>
    <img id="test" src="static/img/bottle.png"></img>
    <img id="back" src="static/img/back.png"></img>
    <img id="touch" src="static/img/touch.png"></img>
    <img id="touched" src="static/img/touched.png"></img>
    <img id="wel_q" src="static/img/wel_q.png"></img>
    <img id="wel_1" src="static/img/wel_lt.png"></img>
    <img id="wel_2" src="static/img/wel_rt.png"></img>
    <img id="wel_3" src="static/img/wel_lb.png"></img>
    <img id="wel_4" src="static/img/wel_rb.png"></img>
    <canvas id="canvas1"><label>浏览器不支持Canvas</label></canvas>
  </body>
</html>
