<!DOCTYPE html>
<html>
  <head>
    <title>Life!!</title>
    <meta charset="utf-8">
    <link href="/static/css/test/index.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="/static/js/lib/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/static/js/myjs/life2.js"></script>
  </head>
  <body style="overflow-y: hidden">
    <canvas id="canvas" width="1000" height="1500">
    <label>浏览器不支持Canvas</label>
    </canvas>
    <video id="video" width="100px" height="100px" style="display:none">
      <source src="static/life/a.mp4" type="video/mp4"></source>
      <source src="static/life/a.ogv" type="video/ogg"></source>
      <source src="static/life/a.webm" type="video/webm"></source>
    </video>
    <audio id="bgm" autoplay="autoplay" loop="loop" preload="auto">
      <source src="static/bgm.mp3">
    </audio>
    <div width="0px" height="0px" style="display: none">
      <img id="loading" src="static/life/loading.png"></img>
      <img id="music" src="static/life/music.png"></img>
      <img id="p01" src="static/life/首页.1.png" load="static/life/首页.1.png"></img>
      <img id="p02" src="static/life/首页.2.png" load="static/life/首页.2.png"></img>
      <img id="p03" src="static/life/首页.3.png" load="static/life/首页.3.png"></img>
      <img id="p11" load="static/life/1.1.png"></img>
      <img id="p12" load="static/life/1.2.png"></img>
      <img id="p13" load="static/life/1.3.png"></img>
      <img id="p21" load="static/life/2.1.png"></img>
      <img id="p22" load="static/life/2.2.png"></img>
      <img id="p23" load="static/life/2.3.png"></img>
      <img id="p31" load="static/life/3.1.png"></img>
      <img id="p32" load="static/life/3.2.png"></img>
      <img id="p33" load="static/life/3.3.png"></img>
      <img id="p41" load="static/life/4.1.png"></img>
      <img id="p42" load="static/life/4.2.png"></img>
      <img id="p43" load="static/life/4.3.png"></img>
      <img id="p51" load="static/life/5.1.png"></img>
      <img id="p52" load="static/life/5.2.png"></img>
      <img id="p53" load="static/life/5.3.png"></img>
      <img id="p61" load="static/life/6.1.png"></img>
      <img id="p62" load="static/life/6.2.png"></img>
      <img id="p63" load="static/life/6.3.png"></img>
      <img id="p71" load="static/life/7.1.png"></img>
      <img id="p72" load="static/life/7.2.png"></img>
      <img id="p73" load="static/life/7.3.png"></img>
      <img id="p81" load="static/life/8.1.png"></img>
      <img id="p82" load="static/life/8.2.png"></img>
      <img id="p83" load="static/life/8.3.png"></img>
      <img id="p91" load="static/life/9.1.png"></img>
      <img id="p92" load="static/life/9.2.png"></img>
      <img id="p93" load="static/life/9.3.png"></img>
      <img id="p101" load="static/life/10.1.png"></img>
      <img id="p102" load="static/life/10.2.png"></img>
      <img id="p103" load="static/life/10.3.png"></img>
      <img id="p111" load="static/life/过度.1.png"></img>
      <img id="p112" load="static/life/过度.2.png"></img>
      <img id="p113" load="static/life/过度.3.png"></img>
      <img id="p114" load="static/life/过度.4.png"></img>
      <img id="p121" load="static/life/底/底色.png"></img>
      <img id="p122" load="static/life/底/地图.png"></img>
      <img id="p123" load="static/life/底/点亮.png"></img>
      <img id="p124" load="static/life/底/分享.png"></img>
      <img id="p125" load="static/life/底/黑色蒙版.png"></img>
      <img id="p126" load="static/life/底/建筑.png"></img>
      <img id="p127" load="static/life/底/全适爱.png"></img>
    </div>
  </body>
</html>
