<!DOCTYPE html>
<html>
  <head>
    <title>玩游戏，赢面膜!</title>
    <meta charset="utf-8">
    <link href="/static/css/mianmo.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/js/lib/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/static/js/myjs/mianmo.js"></script>
    <script type="text/javascript" src="/static/js/myjs/wechat_mianmo.js"></script>
  </head>
  <body>
    <p>游戏待实现，敬请期待</p>
    <canvas id="canvas1" width="1000" height="1500"><label>浏览器不支持Canvas</label></canvas>
  </body>
</html>
