<!DOCTYPE html>
<html>
  <head>
    <title>玩游戏，赢面膜!</title>
    <meta charset="utf-8">
    <link href="/static/css/youxi.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/js/lib/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/static/js/myjs/youxi.js"></script>
    <script type="text/javascript" src="/static/js/myjs/wechat_youxi.js"></script>
  </head>
  <body>
      <canvas id="gameCanvas" width="350" height="600"><label>浏览器不支持Canvas</label></canvas>
  </body>
</html>
