<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Song For Us{% endblock %}</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.min.css">
    {% block css %}{% endblock %} 
    {% block extra_css %}{% endblock %}

    <script src="/static/js/lib/jquery-1.11.0.min.js"></script>
    <script src="/static/js/lib/knockout-3.0.0.js"></script>
    <script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    {% block js %}{% endblock %}
    {% block extra_js %}{% endblock %}
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    {% block load_js %}{% endblock %}
  </body>
</html>
